body{
    background-color: black;
    color: white;
    text-align:center;
}
nav{
    height:6000px;
    width:200px;
    float:left;
    padding:5px;
    line-height:30px;
}
img{
    margin-right: 200px;
}
header{
    text-align:center;
}